<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332049652543-uaiv79s626rcvirbujgokcu1p4kbi0f9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332049652543-uaiv79s626rcvirbujgokcu1p4kbi0f9</string>
	<key>API_KEY</key>
	<string>AIzaSyDLGXwiz0wIdLt50590AzXiwEEgytwpKEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>332049652543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatroomsApp</string>
	<key>PROJECT_ID</key>
	<string>chatrooms-app-a4326</string>
	<key>STORAGE_BUCKET</key>
	<string>chatrooms-app-a4326.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332049652543:ios:84e7152ead62adadfed18a</string>
</dict>
</plist>